
<h1> Uoppgjort gjeld! </h1>


<h3>

<%= hvem_skylder_hvem %>
</h3>

<% @shopping.each do |shopping| %>
	<div class= "shopping_index">
		<%= shopping.person %> kjøpte:
		<%= shopping.title %>,
		<%= shopping.price %> kr

	</div>

<% end %>
<div class="new_link">
	<%= link_to "New", '/shopping/new' %>
</div>



