<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
 	<title>HerokuApp</title>
</head>

<body>
	<%= image_tag "mancave.png" %>

	<div class=content>
		<aside class=sidebar>
			<h3>
				<%= link_to "Who gotta do it!", articles_path %>
			</h3>
			<h3>
				<%= link_to "Dinners", dinners_path %>
			</h3>
			<h3>
				<%= link_to "Debt", "/shopping" %><br>
				<%= hvem_skylder_hvem %>
			</h3>
		</aside>

		<div class=main-content>
			<h2>
			FUCK OFF
			</h2>
			<p>
				Lots of stuff is happening here mateeewrojwerjweorjwer
				lorem ipsum
				lorem ipsum DOCTYPE sidebar 
			</p>
		</div>
	</div>

	<footer>
		<%= link_to "Home", '/' %>
		<%= link_to "WGDI", articles_path %>
		<%= link_to "Dinners", dinners_path %>
		<%= link_to "Debt", "/shopping" %>
	</footer>
</body>
</html>