
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

<head>
  <title>HerokuApp</title>
  

</head>



<header>
	<%= image_tag "newPinke.png" %>
</header>

<h3>
	<%= link_to "Who gotta do it!", articles_path %>
</h3>
<h3>
	<%= link_to "Dinners", dinners_path %>
</h3>
<h3>
	<%= link_to "Debt", "/shopping" %><br>
	<%= hvem_skylder_hvem %>
</h3>

<footer>
	<%= link_to "Home", '/' %>
	<%= link_to "WGDI", articles_path %>
	<%= link_to "Dinners", dinners_path %>
	<%= link_to "Debt", "/shopping" %>
</footer>







